@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<p>If you have any questions, please contact us at:</p>

<ul>
    <li>Email: 313061@stud.umk.pl</li>
    <li>Phone: 123 456 789</li>
    <li>Opening hours: 8:00 - 16:00</li>
    <li>Website: <a href="https://github.com/SebastianSzt">https://github.com/SebastianSzt</a></li>
    <li>Address: Grudziądzka 5/7, 87-100 Toruń</li>
    <li style="list-style-type:none">
        <div style="width: 100%; max-width: 600px; height: 0; position: relative;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.691797786697!2d18.6030961!3d53.0171649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470334fcab77f73f%3A0x34efc318d4d8c9e4!2sWydzia%C5%82%20Fizyki%2C%20Astronomii%20i%20Informatyki%20Stosowanej!5e1!3m2!1spl!2spl!4v1737945277588!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </li>
</ul>